# JME3 specific #
*.dll

# Images
*.png
*.jpg
*.gif
*.psd

# NetBeans specific #
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

# My #
**/references/
**/TeamWorkSuite/

# Compressions #
*.rar
*.7z
*.zip
# Misc #
/AtomSuiteModules/NextGenSuite/MMORPGSupport/nbproject/private/
/AtomSuiteModules/Core/ClientServer/nbproject/private/